.termsOfServices {
  display: flex;
  flex-flow: column;
  width: 702px;
  color: #333;
}

.termsOfServices h2 {
  text-align: left;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 24px;
}

.termsOfServices .content {
  margin: 6px 0 26px;
  padding: 0 30px;
  height: 306px;
  overflow: auto;
}

.termsOfServices .content::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.termsOfServices .content::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.termsOfServices .content p {
  line-height: 1.4em;
}

.termsOfServices .actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.termsOfServices .actions button {
  color: white;
  cursor: pointer;
  width: 196px;
  height: 46px;
  border: 0;
  border-radius: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  outline: 0;
  margin: 0 24px;
  padding: 0;
}

.termsOfServices .actions button.btnBack {
  background: #404752;
  box-shadow: 0 4px 0 #363c45;
}

.termsOfServices .actions button.btnAgree:disabled {
  background: #b9818b;
  box-shadow: 0 4px 0 #b37882;
  cursor: not-allowed;
}

.termsOfServices .actions button.btnAgree {
  background: #ff2d55;
  box-shadow: 0 4px 0 #cb2242;
}

.termsOfServices .actions .loadingContainer {
  display: flex;
  width: 196px;
  height: 46px;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1441px) {
  .termsOfServices {
    width: 762px;
  }

  .termsOfServices h2 {
    margin-bottom: 35px;
  }

  .termsOfServices .actions button {
    margin: 0 40px;
  }
}
