# Docs https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo. (disabled)
#*                  @decentraland/world-team

# Specific subteams

# ECS and SDK packages
unity-renderer/**/*               @decentraland/explorer-team

# comms
browser-interface/packages/shared/comms/logic/rfc-4-room-connection.ts   @decentraland/platform
browser-interface/packages/shared/comms/v2/*                             @decentraland/platform
browser-interface/packages/shared/comms/adapters/*.ts                    @decentraland/platform
browser-interface/packages/shared/comms/sagas.ts                         @decentraland/platform