# Docs https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo. (disabled)
#*                  @decentraland/world-team

# Specific subteams


# explorer
# unity-renderer/**/*               @decentraland/explorer-team

# comms
browser-interface/packages/shared/comms/logic/rfc-4-room-connection.ts   @decentraland/platform
browser-interface/packages/shared/comms/v2/*                             @decentraland/platform
browser-interface/packages/shared/comms/adapters/*.ts                    @decentraland/platform
browser-interface/packages/shared/comms/sagas.ts                         @decentraland/platform

# dServices
browser-interface/packages/shared/friends/**/*    @decentraland/dservices
browser-interface/packages/shared/chat/**/*       @decentraland/dservices

# sdk packages
unity-renderer/Assets/Scripts/MainScripts/DCL/CRDTProtocol/**/*                       @decentraland/sdk-team
unity-renderer/Assets/Scripts/MainScripts/DCL/WorldRuntime/ECSRuntime/**/*            @decentraland/sdk-team
unity-renderer/Assets/DCLPlugins/ECS7/**/*                                            @decentraland/sdk-team
browser-interface/packages/shared/apis/**/*                                           @decentraland/sdk-team
browser-interface/packages/shared/world/SceneWorker.ts                                @decentraland/sdk-team
browser-interface/packages/shared/sceneEvents/sagas.ts                                @decentraland/sdk-team
browser-interface/packages/entryPoints/logger.ts                                      @decentraland/sdk-team
browser-interface/packages/unity-interface/nativeMessagesBridge.ts                    @decentraland/sdk-team
browser-interface/packages/unity-interface/protobufMessagesBridge.ts                  @decentraland/sdk-team
browser-interface/packages/entryPoints/startPreview.ts                                @decentraland/sdk-team
