# Docs https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo. (disabled)
#*                  @decentraland/world-team

# Specific subteams

# Unity Team (disabled)
#unity-client/**/*                            @decentraland/unity-team 

# ECS and SDK packages
kernel/packages/build-ecs/**/*               @decentraland/kernel-team
kernel/packages/decentraland-amd/**/*        @decentraland/kernel-team
kernel/packages/decentraland-ecs/**/*        @decentraland/kernel-team
kernel/packages/decentraland-ecs/**/*        menduz
kernel/packages/scene-system/**/*            menduz
