node_modules/
npm-debug.log
.DS_Store
static/dist
public/systems
static/systems

.decentraland

**/.decentraland

public/test-parcels/*/*.js
public/ecs-parcels/*/*.js
public/test-parcels/*/bin/*.js

scripts/**/*.js
scripts/**/*.d.ts

test/tmp
test/diff
test/out

.idea
coverage

public/local-ipfs
