
# ======= #
# Node.js #
# ======= #
node_modules/
npm-debug.log
.DS_Store
static/dist
public/systems
static/systems
static/loader
static/default-profile/contents
static/lifecycle
packages/config/contracts.ts
.decentraland
**/.decentraland

test/tmp
test/diff
test/out

.idea
coverage

# ================ #
# Generated scenes #
# ================ #
public/test-scenes/*/*.js
public/hell-map/*/*.js
public/ecs-scenes/*/*.js
public/test-scenes/*/bin/*.js

scripts/**/*.js
scripts/**/*.d.ts
packages/**/*.js
# keep js from proto files in vcs
!packages/**/proto/*.js
packages/**/*.js.map
test/**/*.js
test/**/*.js.map
dist

# ============== #
# Local mappings #
# ============== #
public/local-ipfs

# ================================== #
# Do not keep built definition types #
# ================================== #
packages/decentraland-ecs/types/dcl/*
packages/decentraland-ecs/artifacts
packages/decentraland-ecs/package-lock.json
.tsbuildinfo
