.passport {
  color: #333;
}

.passport h2.passportTitle {
  text-align: left;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 24px;
}

.passportContainer {
  display: flex;
  flex-flow: row nowrap;
  width: 702px;
  justify-content: space-around;
}

@media only screen and (min-width: 1441px) {
  .passportContainer {
    width: 762px;
  }

  .passport h2.passportTitle {
    margin-bottom: 65px;
  }
}
