.passportForm {
  color: #333333;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.passportForm form .inputGroup {
  display: flex;
  flex-flow: column nowrap;
  height: 111px;
  padding: 0px 16px 44px 16px;
  position: relative;
}

.passportForm form .inputGroup.inputGroupName {
  padding-bottom: 28px;
}

.passportForm form .inputGroup.inputGroupEmail {
  padding-bottom: 58px;
}

.passportForm form .inputGroup em.hint,
.passportForm form .inputGroup em.required {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
}

.passportForm form .inputGroup span.required {
  color: #fe2d55;
  font-size: 22px;
}

.passportForm form .inputGroup em.hint {
  position: absolute;
  bottom: 32px;
  right: 16px;
  color: #333333;
  opacity: 0.5;
}

.passportForm form .inputGroup.inputGroupName em.hint {
  bottom: 32px;
}

.passportForm form .inputGroup.inputGroupEmail em.hint {
  bottom: 46px;
}

.passportForm form .inputGroup em.required {
  color: #333;
}

.passportForm form .inputGroup input.hasError {
  border-color: #ff2d55;
}

.passportForm form .inputGroup em.hint.hasError {
  color: #ff2d55;
  opacity: 1;
}

.passportForm form label {
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
  line-height: 26px;
}

.passportForm form input {
  width: 323px;
  height: 45px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #ffffff;
  margin: 10px 0 8px;
  padding: 0 10px;
  line-height: 25px;
  outline: 0;
  font-size: 20px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.passportForm form input:focus,
.passportForm form input:active {
  border: 2px solid #c4c7d3;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05);
}

.passportForm form input::placeholder {
  font-size: 18px;
  font-weight: normal;
}

.passportForm form .actions {
  display: flex;
  justify-content: center;
  padding: 0;
}

.passportForm form button.btnSubmit {
  cursor: pointer;
  color: white;
  background: #ff2d55;
  width: 196px;
  height: 46px;
  border: 0;
  border-radius: 12px;
  box-shadow: 0 3px 0 #cb2242;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  padding: 0;
  outline: 0;
}

.passportForm form button.btnSubmit:disabled {
  background: #b9818b;
  box-shadow: 0 4px 0 #b37882;
  cursor: not-allowed;
}
