.unity-enum-field:hover.dcl-dropdown-readonly:hover > .unity-enum-field__input, 
.unity-base-popup-field:hover.dcl-dropdown-readonly:hover > .unity-base-popup-field__input {
    background-color: #bcbcbc;
}

/* override unity default style to hide the arrow */
.unity-base-popup-field__arrow {
    visibility: hidden;
}