.walletButton {
  width: 150px;
  display: flex;
  flex-flow: column wrap;
  background: white;
  color: #333;
  box-shadow: 0px 5px 0px #cacfe2;
  border-radius: 15px;
  padding: 0 11px 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  box-sizing: content-box;
}

.walletButton.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.walletImage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
}

.walletButton .walletImage img.metamask {
  width: 50px;
  height: auto;
}

.walletButton .walletImage img.fortmatic {
  width: 46px;
  height: auto;
}

.walletButton .walletTitle h3 {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.walletButton .walletDescription p {
  margin: 0;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
}
