.popup-container .popup.walletSelectorPopup {
  padding: 64px 45px;
}

.walletSelector {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  color: #333;
}

h2.walletSelectorTitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 45px;
}

.walletButtonContainer {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  min-height: 170px;
}

.walletButtonContainer .linkMetamask {
  text-decoration: none;
  color: black;
}

.walletButtonContainer .walletButton:first-child {
  margin-right: 0;
}
