.walletSelector {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

h2.walletSelectorTitle {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 20px;
}

.walletButtonContainer {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  min-height: 170px;
}

.walletButtonContainer .linkMetamask {
  text-decoration: none;
  color: black;
}

.walletButtonContainer .walletButton:first-child {
  margin-right: 2em;
}
