#eth-login-confirmation-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eth-login {
  width: 100%;
  padding-left: 475px;
  padding-top: 168px;
  position: relative;
}

.eth-login .eth-avatars {
  position: absolute;
  top: 72px;
  left: 0;
}

.eth-login-description {
  color: white;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-shadow: 0 1px 0 #000000;
  max-width: 463px;
}

.eth-login-description .dcl-isologotipo {
  height: 56px;
  width: auto;
}

.eth-login-welcome {
  color: white;
  font-family: sfregular, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 2px;
}

.eth-login-guest-button {
  color: white;
  background: transparent;
  border: 0;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  text-decoration: underline;
  outline: 0;
}

#eth-login-confirmation-wrapper .eth-login-guest-button {
  margin-top: 21px;
}

.eth-login-confirm-button {
  color: #ffffff;
  width: 216px;
  height: 60px;
  cursor: pointer;
  border: 0;
  border-radius: 16px;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 0 #cb2242;
  background-color: #ff2d55;
  mix-blend-mode: normal;
  outline: 0;
  transition: transform 0.1s ease;
}

.eth-login-confirm-button:hover {
  transform: translateY(-5px);
}

.eth-login-confirm-button:active {
  background-color: #cb2242;
  box-shadow: 0 0 0 #cb2242;
  transform: translateY(0);
}

.eth-login-confirm-button:disabled {
  color: #b6c6d7;
  background-color: #a08db8;
  box-shadow: 0 3px 0 #907ca8;
}

.eth-login-logo {
  width: 262px;
}

.eth-login-wallet-icon {
  margin-right: 10px;
  width: 24px;
  height: 23px;
  vertical-align: middle;
}

@media only screen and (max-width: 991px) {
  .eth-login {
    width: 100%;
    padding: 0;
  }

  .eth-login-popup .eth-login {
    min-height: auto;
    padding: 130px;
  }

  .eth-login .eth-avatars {
    display: none;
  }
}
