.LoginContainer {
  background-color: white;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 700px;
  overflow: auto;
}

.LoginContainer main {
  background-size: cover;
  background-color: #74a4d5;
  background-image: url("../../images/background.png");
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: 0 0;
  width: 100%;
  height: 100%;
  min-height: 700px;
}

.eth-login-popup {
  height: 100%;

  /*position: absolute;*/
  /*left: 50%;*/
  /*top: 40px;*/
  /*transform: translate(-50%, 0);*/
  /*padding: 34px 44px;*/

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.eth-login-popup .eth-avatars {
  align-items: flex-start;
}

.eth-login-popup .eth-login {
  align-items: flex-start;
  min-height: 480px;
  margin: 0 auto;
}

.eth-login-popup .eth-login .popup-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
