###############################
# Standard EditorConfig Settings
# https://editorconfig.org/
###############################

root = true # Top-most EditorConfig file. Remove the line below if you want to inherit .editorconfig settings from higher directories.

[*]
charset = utf-8

indent_style = space # Don't use tabs for indentation.
indent_size = 4
tab_width = 4

end_of_line = crlf

trim_trailing_whitespace = false
max_line_length = 120

# C# files
[*.cs]
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 2000 # no limit



###############################
# .NET/C# Settings
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/
# 🟢 - marks rules that recognized by ReSharper/Rider, and can be auto-applied via CleanupCode CLI
# Set severity for each rule separately, since ReSharper/Rider dotnet_diagnostic.<..>.severity don't work for ReSharper/Rider
###############################

dotnet_analyzer_diagnostic.category-Style.severity = error
dotnet_style_allow_multiple_blank_lines_experimental = false


############################### Naming Rules ###############################
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/naming-rules
# 🟢: all naming rules understand by ReSharper/Rider CleanupCode CLI. 

dotnet_diagnostic.IDE1006.severity = warning # Global severity of naming violations

#### PascalCase ####
# By default, name items with PascalCase
dotnet_naming_style.pascal_case_style.capitalization = pascal_case

dotnet_naming_symbols.all_members.applicable_kinds = *

dotnet_naming_rule.members_should_be_pascal_case.symbols = all_members
dotnet_naming_rule.members_should_be_pascal_case.style = pascal_case_style
dotnet_naming_rule.members_should_be_pascal_case.severity = warning

# Interfaces are PascalCase with I prefix
dotnet_naming_style.i_prefix_pascal_case_style.capitalization = pascal_case
dotnet_naming_style.i_prefix_pascal_case_style.required_prefix = I

dotnet_naming_symbols.interfaces.applicable_kinds = interface

dotnet_naming_rule.interfaces_should_be_pascal_case_with_i_prefix.symbols = interfaces
dotnet_naming_rule.interfaces_should_be_pascal_case_with_i_prefix.style = i_prefix_pascal_case_style
dotnet_naming_rule.interfaces_should_be_pascal_case_with_i_prefix.severity = warning

# Asynchronous methods end with "Async"
dotnet_naming_style.async_postfix_pascal_case_style.capitalization = pascal_case
dotnet_naming_style.async_postfix_pascal_case_style.required_suffix = Async

dotnet_naming_symbols.async_methods.applicable_kinds = method
dotnet_naming_symbols.async_methods.required_modifiers = async

dotnet_naming_rule.async_methods_should_be_pascal_case_with_async_suffix.symbols = async_methods
dotnet_naming_rule.async_methods_should_be_pascal_case_with_async_suffix.style = async_postfix_pascal_case_style
dotnet_naming_rule.async_methods_should_be_pascal_case_with_async_suffix.severity = warning


#### CAPITALS_SNAKE_CASE ####
dotnet_naming_style.capital_snake_case_style.capitalization = all_upper

# Constants are CAPITALS_SNAKE_CASE
dotnet_naming_symbols.constants.applicable_kinds = field, local
dotnet_naming_symbols.constants.required_modifiers = const

dotnet_naming_rule.constants_should_be_capital_snake_case.symbols = constants
dotnet_naming_rule.constants_should_be_capital_snake_case.style = capital_snake_case_style
dotnet_naming_rule.constants_should_be_capital_snake_case.severity = warning

# Static readonly are CAPITALS_SNAKE_CASE
dotnet_naming_symbols.static_readonly_fields.applicable_kinds = field
dotnet_naming_symbols.static_readonly_fields.required_modifiers = static, readonly

dotnet_naming_rule.static_readonly_should_be_capital_snake_case.symbols = static_readonly_fields
dotnet_naming_rule.static_readonly_should_be_capital_snake_case.style = capital_snake_case_style
dotnet_naming_rule.static_readonly_should_be_capital_snake_case.severity = warning


#### camelCase ####
# Non-public Fields, Properties, methods Parameters and local Variables are camelCase
dotnet_naming_style.camel_case_style.capitalization = camel_case

dotnet_naming_symbols.non_public_members.applicable_kinds = field, property, parameter, local
dotnet_naming_symbols.non_public_members.applicable_accessibilities = internal, private, protected, protected_internal, private_protected, local

dotnet_naming_rule.non_public_members_should_be_camel_case.symbols = non_public_members
dotnet_naming_rule.non_public_members_should_be_camel_case.style = camel_case_style
dotnet_naming_rule.non_public_members_should_be_camel_case.severity = error


############################### Formatting Rules ###############################
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0055
dotnet_diagnostic.IDE0055.severity = error

#### .NET formatting options ####
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/dotnet-formatting-options
dotnet_separate_import_directive_groups = false # 🟢
dotnet_sort_system_directives_first = false # 🟢 
dotnet_style_namespace_match_folder = false

#### C# formatting options ####
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/csharp-formatting-options

# New-line options
csharp_new_line_before_open_brace = all # 🟢
csharp_new_line_before_else = true # 🟢
csharp_new_line_before_catch = true # 🟢
csharp_new_line_before_finally = true # 🟢
#csharp_new_line_before_members_in_object_initializers = true # 🟢
#csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true # 🟢

# Indentation options
csharp_indent_case_contents = true
csharp_indent_switch_labels = true # 🟢
csharp_indent_labels = flush_left
csharp_indent_block_contents = true
csharp_indent_braces = false # 🟢
csharp_indent_case_contents_when_block = false

# Spacing options
csharp_space_after_cast = false # 🟢
csharp_space_after_keywords_in_control_flow_statements = true # 🟢 covers https://www.jetbrains.com/help/rider/EditorConfig_Generalized.html#space_after_keywords_in_control_flow_statements
#csharp_space_between_parentheses = control_flow_statements # 🟢
csharp_space_before_colon_in_inheritance_clause = true # 🟢
csharp_space_after_colon_in_inheritance_clause = true # 🟢
csharp_space_around_binary_operators = before_and_after # 🟢
csharp_space_between_method_declaration_parameter_list_parentheses = false # 🟢
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false # 🟢
csharp_space_between_method_declaration_name_and_open_parenthesis = false # 🟢 covers: https://www.jetbrains.com/help/rider/EditorConfig_Generalized.html#space_between_method_declaration_name_and_open_parenthesis
csharp_space_between_method_call_parameter_list_parentheses = false # 🟢
csharp_space_between_method_call_empty_parameter_list_parentheses = false # 🟢
csharp_space_between_method_call_name_and_opening_parenthesis = false # 🟢 covers: https://www.jetbrains.com/help/rider/EditorConfig_Generalized.html#space_between_method_call_name_and_opening_parenthesis
csharp_space_after_comma = true # 🟢 covers: https://www.jetbrains.com/help/rider/EditorConfig_Generalized.html#space_after_comma
csharp_space_before_comma = false # 🟢 covers: https://www.jetbrains.com/help/rider/EditorConfig_Generalized.html#space_before_comma
csharp_space_after_dot = false # 🟢
csharp_space_before_dot = false # 🟢
csharp_space_after_semicolon_in_for_statement = true # 🟢
csharp_space_before_semicolon_in_for_statement = false # 🟢
csharp_space_around_declaration_statements = false
csharp_space_before_open_square_brackets = false # 🟢 covers: https://www.jetbrains.com/help/rider/EditorConfig_Generalized.html#space_before_open_square_brackets
csharp_space_between_empty_square_brackets = false # 🟢
csharp_space_between_square_brackets = false # 🟢 covers: https://www.jetbrains.com/help/rider/EditorConfig_Generalized.html#space_between_square_brackets

# Wrap options
csharp_preserve_single_line_statements = false
csharp_preserve_single_line_blocks = true # 🟢


# ############################### Language rules ###############################
# dotnet_style_namespace_match_folder = false:none
# dotnet_diagnostic.IDE1006.severity = none # Global severity of naming violations
#
# dotnet_style_readonly_field = true:none
# dotnet_diagnostic.IDE0044.severity = none
#
# resharper_invocation_is_skipped_highlighting = none
# resharper_non_parsable_element_highlighting = none
# resharper_access_to_static_member_via_derived_type_highlighting = none
# resharper_annotation_redundancy_in_hierarchy_highlighting = none
# resharper_auto_property_can_be_made_get_only_global_highlighting = none
# resharper_auto_property_can_be_made_get_only_local_highlighting = none
# resharper_base_member_has_params_highlighting = none
# resharper_check_for_reference_equality_instead_1_highlighting = none
# resharper_check_for_reference_equality_instead_3_highlighting = none
# resharper_check_for_reference_equality_instead_2_highlighting = none
# resharper_check_for_reference_equality_instead_4_highlighting = none
#
# # ReSharper inspection severities
# resharper_arrange_redundant_parentheses_highlighting = none
# resharper_arrange_this_qualifier_highlighting = none
# resharper_arrange_type_member_modifiers_highlighting = none
# resharper_arrange_type_modifiers_highlighting = none
# resharper_built_in_type_reference_style_for_member_access_highlighting = none
# resharper_built_in_type_reference_style_highlighting = none
# resharper_redundant_base_qualifier_highlighting = none
# resharper_suggest_var_or_type_built_in_types_highlighting = none
# resharper_suggest_var_or_type_elsewhere_highlighting = none
# resharper_suggest_var_or_type_simple_types_highlighting = none
# resharper_web_config_module_not_resolved_highlighting = none
# resharper_web_config_type_not_resolved_highlighting = none
# resharper_web_config_wrong_module_highlighting = none
#
# resharper_field_can_be_made_read_only_local_highlighting = none
# resharper_check_namespace_highlighting = none
# resharper_inconsistent_naming_highlighting = none
# resharper_access_to_static_member_via_derived_type_highlighting = none
# resharper_arrange_accessor_owner_body_highlighting = none
# resharper_auto_property_can_be_made_get_only_local_highlighting = none
# resharper_condition_is_always_true_or_false_highlighting = none
# resharper_convert_if_statement_to_conditional_ternary_expression_highlighting = none
# resharper_convert_if_statement_to_null_coalescing_assignment_highlighting = none
# resharper_convert_to_using_declaration_highlighting = none
# resharper_for_can_be_converted_to_foreach_highlighting = none
# resharper_inline_out_variable_declaration_highlighting = none
# resharper_invalid_xml_doc_comment_highlighting = none
# resharper_local_variable_hides_member_highlighting = none
# resharper_merge_into_pattern_highlighting = none
# resharper_parameter_hides_member_highlighting = none
# resharper_possible_invalid_cast_exception_in_foreach_loop_highlighting = none
# resharper_possible_multiple_enumeration_highlighting = none
# resharper_redundant_assignment_highlighting = none
# resharper_redundant_cast_highlighting = none
# resharper_redundant_default_member_initializer_highlighting = none
# resharper_redundant_explicit_array_creation_highlighting = none
# resharper_redundant_name_qualifier_highlighting = none
# resharper_redundant_using_directive_highlighting = none
# resharper_use_object_or_collection_initializer_highlighting = none
# resharper_use_string_interpolation_highlighting = none
# resharper_variable_hides_outer_variable_highlighting = none
# resharper_virtual_member_call_in_constructor_highlighting = none

# resharper_arrange_redundant_parentheses_highlighting = hint
# resharper_arrange_this_qualifier_highlighting = hint
# resharper_arrange_type_member_modifiers_highlighting = none
# resharper_bad_control_braces_indent_highlighting = hint
# resharper_built_in_type_reference_style_for_member_access_highlighting = hint
# resharper_built_in_type_reference_style_highlighting = hint
# resharper_convert_if_statement_to_conditional_ternary_expression_highlighting = none
# resharper_convert_if_statement_to_return_statement_highlighting = none
# resharper_cpp_expression_without_side_effects_highlighting = none
# resharper_cpp_ue4_probable_memory_issues_with_u_object_highlighting = error
# resharper_for_can_be_converted_to_foreach_highlighting = none
# resharper_identifier_typo_highlighting = none
# resharper_redundant_base_qualifier_highlighting = warning
# resharper_suggest_var_or_type_built_in_types_highlighting = hint
# resharper_suggest_var_or_type_simple_types_highlighting = hint
# resharper_web_config_module_not_resolved_highlighting = warning
# resharper_web_config_type_not_resolved_highlighting = warning
# resharper_web_config_wrong_module_highlighting = warning
# resharper_wrong_indent_size_highlighting = hint


# # Microsoft .NET properties
# csharp_style_var_elsewhere = false:none
# csharp_style_var_for_built_in_types = false:suggestion
# csharp_style_var_when_type_is_apparent = false:none
# dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:none
# dotnet_style_parentheses_in_other_binary_operators = never_if_unnecessary:none
# dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:none
# dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
# dotnet_style_predefined_type_for_member_access = true:suggestion
# dotnet_style_qualification_for_event = false:suggestion
# dotnet_style_qualification_for_field = false:suggestion
# dotnet_style_qualification_for_method = false:suggestion
# dotnet_style_qualification_for_property = false:suggestion
#
# # ReSharper properties
# resharper_align_multiline_calls_chain = true
# resharper_align_multiline_extends_list = true
# resharper_align_multiple_declaration = true
# resharper_blank_lines_after_block_statements = 0
# resharper_blank_lines_around_auto_property = 0
# resharper_blank_lines_around_property = 0
# resharper_blank_lines_around_single_line_type = 0
# resharper_case_block_braces = next_line_shifted_2
# resharper_csharp_blank_lines_around_field = 0
# resharper_csharp_blank_lines_around_invocable = 0
# resharper_csharp_empty_block_style = together_same_line
# resharper_csharp_extra_spaces = leave_all
# resharper_csharp_keep_blank_lines_in_declarations = 1
# resharper_csharp_naming_rule.property = AaBb, aaBb
# resharper_csharp_use_indent_from_previous_element = false
# resharper_csharp_wrap_lines = false
# resharper_csharp_wrap_multiple_declaration_style = wrap_if_long
# resharper_enforce_line_ending_style = true
# resharper_indent_preprocessor_directives = normal
# resharper_keep_existing_arrangement = true
# resharper_keep_existing_attribute_arrangement = true
# resharper_keep_existing_declaration_block_arrangement = false
# resharper_keep_existing_embedded_arrangement = false
# resharper_keep_existing_embedded_block_arrangement = true
# resharper_keep_existing_enum_arrangement = true
# resharper_keep_existing_initializer_arrangement = true
# resharper_keep_existing_property_patterns_arrangement = false
# resharper_keep_existing_switch_expression_arrangement = false
# resharper_max_array_initializer_elements_on_line = 1000
# resharper_max_attribute_length_for_same_line = 90
# resharper_max_formal_parameters_on_line = 1000
# resharper_max_initializer_elements_on_line = 30
# resharper_place_field_attribute_on_same_line = if_owner_is_single_line
# resharper_place_simple_accessorholder_on_single_line = true
# resharper_place_simple_anonymousmethod_on_single_line = true
# resharper_place_simple_accessor_on_single_line = true
# resharper_place_simple_embedded_statement_on_same_line = false
# resharper_place_simple_initializer_on_single_line = true
# resharper_place_simple_method_on_single_line = true
# resharper_remove_blank_lines_near_braces_in_code = false
# resharper_remove_blank_lines_near_braces_in_declarations = false
# resharper_show_autodetect_configure_formatting_tip = false
# resharper_space_after_cast = false
# resharper_space_within_single_line_array_initializer_braces = true
# resharper_use_indent_from_vs = false
# resharper_wrap_chained_method_calls = chop_if_long
# resharper_wrap_lines = true
# resharper_wrap_linq_expressions = chop_always
# resharper_wrap_object_and_collection_initializer_style = wrap_if_long
# resharper_wrap_property_pattern = wrap_if_long
#
