.nav-bar {
  display: flex;
  /*height: 40px;*/
  justify-content: space-between;
  position: absolute;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.nav-bar .dcl-logo,
.nav-bar .dcl-isologotipo {
  height: 31px;
  width: auto;
  padding: 0.5rem 1rem;
  box-sizing: content-box;
  cursor: pointer;
}

.nav-bar-content {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 14px;
}

.nav-discord {
  vertical-align: middle;
  margin: 6px 0 8px 10px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 0 12px 0 6px;
  border-radius: 9px;
  font-size: 14px;
  margin-left: 1em;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-discord svg {
  height: 28px;
  width: auto;
  /* margin-right: 5px; */
}

.nav-need-support {
  width: fit-content;
  font-size: 11px;
}
