.loader {
  --thickness: 5px;
  --diameter: 35px;

  border: var(--thickness) solid #f3f3f3;
  border-top: var(--thickness) solid #ff2d55;
  border-radius: 50%;
  width: var(--diameter);
  height: var(--diameter);
  animation: spin 1.24s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
